.container {
    cursor: pointer;
}

.link {
    display: flex;
    gap: 6px;
}

.link-label {
    font-size: 18px;
    font-weight: 500;
}

.desc {
    margin-top: 6px;
    color: var(---grey-50);
    font-size: 14px;
    font-weight: 300;
}

@media screen and (max-width: 1096px) {
    .link {
        display: flex;
        gap: 5px;
    }
    
    .link-label {
        font-size: 16px;
    }
    
    .desc {
        font-size: 13px;
    }
}