.main-container {
    display: flex;
    justify-content: center;
}

.left-container {
    padding-right: 50px;
    border-right: 1px solid var(--border);
}


.projects {
    margin-top: 48px;
    width: 625px;
    display: flex;
    flex-direction: column;
    gap:38px;
}

.title {
    font-size: 48px;
    font-weight: 600;
}

.projects-wrapper {
    padding-top: 10px;
}

.project-title {
    color: var(--grey-50);
    font-size: 24px;
    font-weight: 500;
    line-height: 22px;
}

.project-list {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.right-container {
    padding-left: 50px;
}

.quick-nav-container {
    margin-top: 210px;
    position: sticky;
    top: 10px;
}

@media screen and (max-width: 1096px) {

    .title {
        font-size: 40px;
    }

    .projects {
        width: 550px;
    }

    .project-title {
        font-size: 20px;
    }

}

@media screen and (max-width: 982px) {

    .left-container {
        padding: 0;
        border:none
    }

    .title {
        font-size: 40px;
    }

    .projects {
        width: 550px;
    }

    .project-title {
        font-size: 20px;
    }

    .right-container {
        display: none;
    }

}

@media screen and (max-width: 615px) {

    .title {
        font-size: 38px;
    }

    .projects {
        width: 450px;
    }

    .project-list {
        margin-top: 28px;
    }

    .project-title {
        font-size: 18px;
    }

    .right-container {
        display: none;
    }

}

@media screen and (max-width: 500px) {

    .main-container {
        margin-bottom: 40px;
    }
    
    .title {
        font-size: 34px;
    }

    .projects {
        width: 300px;
    }
    
    .project-title {
        font-size: 18px;
    }
    
    .project-list {
        margin-top: 28px;
    }
    
    .right-container {
        display: none;
    }

}