.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid var(--border);
}

.logo {
  margin-top: 53px;
  cursor: pointer;
}

.buttonWrapper {
  margin-top: 40px;
  display: flex;
  gap: 56px;
}

.button {
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.socialWrapper {
  margin-top: 40px;
  display: flex;
  gap: 50px;
}

.social {
  cursor: pointer;
}

.contentWrapper {
  margin-top: 40px;
  text-align: center;
}

.heading {
  font-size: 16px;
  font-weight: 700;
}

.byline {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 400;
}

.plug {
  margin-top: 20px;
  color: var(--black);
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 53px;
}

@media (max-width: 1096px) {
  .container {
    flex-direction: column;
    flex-shrink: 0;
  }

  .buttonWrapper {
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .button {
    font-size: 16px;
  }

  .socialWrapper {
    margin-top: 20px;
    gap: 20px;
  }

  .social {
    width: 45px;
    cursor: pointer;
  }

  .heading {
    font-size: 16px;
  }

  .byline {
    font-size: 14px;
  }

  .plug {
    font-size: 12px;
  }
}

@media (max-width: 645px) {
  .container {
    flex-direction: column;
    flex-shrink: 0;
  }

  .buttonWrapper {
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 18px;
  }

  .button {
    font-size: 14px;
  }

  .socialWrapper {
    margin-top: 20px;
    gap: 18px;
  }

  .social {
    width: 40px;
    cursor: pointer;
  }

  .heading {
    font-size: 14px;
  }

  .byline {
    font-size: 12px;
  }

  .plug {
    font-size: 10px;
  }
}
