.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100vw - 92px);
    border-bottom: 1px solid var(--border);
    padding: 13px 46px;
    /* padding: 13px 46px; */
    /* flex-shrink: 0; */
}

.button-container {
    display: flex;
    gap: 30px;
    font-size: 18px;
    font-weight: 600;
}

.button {
    cursor: pointer;
}