.main-container {
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.landing-container {
    padding: 0 150px 0 150px;
    display: flex;
    gap: 95px;
    align-items: center;
    justify-content: space-between;
}


.landing-content-container {
    display: flex;
    flex-direction: column;
}

.landing-title {
    font-size: 48px;
    font-weight: 700;
}

.landing-byline {
    margin-top: 24px;
    font-size: 22px;    
    font-weight: 300;
}

.explore-button {
    width: fit-content;
    margin-top: 48px;
    display: flex;
    gap: 12px;
    padding: 18px 36px 18px 36px;
    border-radius: 50px;
    color: var(--white);
    background-color: var(--black);
    cursor: pointer;
}
.explore-button:hover {
}

.landing-svg {
    width: 420px;
}

.learn-more {
    margin-bottom: 26px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    color: var(--grey-50);
    font-size: 22px;
    font-weight: 400;
    cursor: pointer;
}

@keyframes floatUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px); 
    }
}

.arrow-svg {
    animation: floatUpDown 2s ease-in-out infinite;
}

.about-us-container {
    margin-top: 130px;
    padding: 20px 150px 0 150px;
    display: flex;
    gap: 95px;
    justify-content: space-between;
}

.about-us-svg {
    width: 312px;
}

.about-us-content {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 38px;
    font-weight: 600;
}

.about-us-content p, .join-us-content p, .join-us-content ol {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}

.join-us-container {
    margin-top: 200px;
    margin-bottom: 100px;
    padding: 0 150px 0 150px;
    display: flex;
    gap: 95px;
    justify-content: space-between;
}

.join-us-content ol {
    line-height: 40px;
}

.contact-card {
    margin-top: 75px;
}

@media (max-width: 1096px) {
    .landing-container {
        padding: 0 30px;
    }
    .landing-title {
        font-size: 30px;
    }
    .landing-byline {
        font-size: 16px;
    }

    .about-us-svg,
    .landing-svg {
        max-width: 80%; /* Reduce the size of the images */
    }
    .contact-card {
        height: 180px; /* Reduce the height of the ContactUs card */
        width: 220px; /* Reduce the width of the ContactUs card */
    }
}

@media (max-width: 768px) {
    .landing-container {
        padding: 0 20px;
        gap: 10px;
    }
    .landing-title {
        font-size: 24px;
    }
    .landing-byline {
        font-size: 16px;
    }
    .explore-button {
        padding: 10px 20px;
        margin-top: 20px;
    }
    .about-us-container {
        margin-top: 60px;
        padding: 20px;
        gap: 10px;
    }
    .title {
        font-size: 22px;
    }
    .about-us-content p,
    .join-us-content p,
    .join-us-content ol {
        font-size: 16px;
        line-height: 24px;
    }
    .join-us-container {
        margin-top: 80px;
        padding: 0 20px;
        gap: 10px;
        margin-bottom: 70px; 
    }
    .join-us-content ol {
        line-height: 30px;
    }
    .contact-card {
        margin-top: 40px;
    }

    .about-us-svg,
    .landing-svg {
        max-width: 60%; /* Further reduce the size of the images */
    }
    .contact-card {
        height: 140px; /* Further reduce the height of the ContactUs card */
        width: 180px; /* Further reduce the width of the ContactUs card */
    }
}

@media (max-width: 500px) {
    .main-container {
        height: auto; /* Remove 100vh height property */
    }

    .landing-container {
        padding: 0 10px;
        gap: 5px;
    }
    .landing-title {
        font-size: 20px;
    }
    .landing-byline {
        font-size: 13px;
    }
    .explore-button {
        padding: 8px 16px;
        margin-top: 16px;
    }
    .about-us-container {
        margin-top: 50px;
        padding: 10px;
        gap: 5px;
    }
    .title {
        font-size: 18px;
    }
    .about-us-content p,
    .join-us-content p,
    .join-us-content ol {
        font-size: 13px;
        line-height: 20px;
    }
    .join-us-container {
        margin-top: 40px;
        padding: 0 10px;
        gap: 5px;
        margin-bottom: 50px; /* Reduce the distance between "Join Us" and the footer */
    }

    .join-us-content ol {
        line-height: 26px;
    }

    .learn-more,
    .landing-svg,
    .about-us-svg,
    .contact-card {
        display: none; /* Hide the images and ContactUs card */
    }
}