.main-container {
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.landing-container {
    padding: 0 150px 0 150px;
    display: flex;
    gap: 95px;
    align-items: center;
    justify-content: space-between;
}


.landing-content-container {
    display: flex;
    flex-direction: column;
}

.landing-title {
    font-size: 48px;
    font-weight: 700;
}

.landing-byline {
    margin-top: 24px;
    font-size: 22px;    
    font-weight: 300;
}

.explore-button {
    width: fit-content;
    margin-top: 48px;
    display: flex;
    gap: 12px;
    padding: 18px 36px 18px 36px;
    border-radius: 50px;
    color: var(--white);
    background-color: var(--black);
    cursor: pointer;
}
.explore-button:hover {
}

.landing-svg {
    width: 420px;
}

.learn-more {
    margin-bottom: 26px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    color: var(--grey-50);
    font-size: 22px;
    font-weight: 400;
    cursor: pointer;
}

@keyframes floatUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px); 
    }
}

.arrow-svg {
    animation: floatUpDown 2s ease-in-out infinite;
}

