.container {
    border-bottom: 1px solid var(--border);
    padding-bottom: 32px;
    cursor: pointer;
    background-color: pink;
    margin: 0;
}

.image {
    width: 311px;
}

.content {
    margin-top: 26px;
}

.date {
    color: var(--grey-50);
    font-size: 14px;
    font-weight: 300;
}

.title {
    margin-top: 8px;
    font-size: 24px;
    font-weight: 600;
    line-height: 34px; 
}

.desc {
    margin-top: 12px;
    color: var(--grey-80);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px; 
}

.info-wrapper {
    margin-top: 8px;
    display: flex;
    gap: 10px;
}

.label {
    width: 56px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.text {
    color: var(--grey-50);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px; 
}

.read-more {
    margin-top: 26px;
    display: flex;
    gap: 8px;
    cursor: pointer;
}
  
.read-more-text {
    font-size: 14px;
    font-weight: 400;
}

@media screen and (max-width:1096px) {

    .image {
        width: 300px;
    }
    
    .date {
        color: var(--grey-50);
        font-size: 12px;
        font-weight: 300;
    }
    
    .title {
        font-size: 22px; 
    }
    
    .desc {
        font-size: 13px;
    }
    
    .info-wrapper {
        gap: 8px;
    }
    
    .label {
        font-size: 13px;
    }
    
    .text {
        font-size: 13px;
    }
    
    .read-more-text {
        font-size: 13px;
    }
}