.title {
    font-size: 24px;
    font-weight: 600;
}

.quick-links {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

@media screen and (max-width:1096px) {
    .title {
        font-size: 20px;
    }
}